body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

	background-color: lightgoldenrodyellow;
}

.container {
	margin: auto;
	width: 60%;
}

.hide {
	display: none;
}

@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        padding: 0;
        overflow:hidden;
    }
}

.error-message {
	display: none;
	color: red;
	animation: cssAnimation 0s ease-in 2s forwards;
}

img {
	display: inline-block;
}

.caption {
	display: block;
	text-align: center;
}

.garments {
	display: flex;
	flex-wrap: wrap;
}

.garment {
	flex : 1;
	background-color: beige;
	border: 1px solid greenyellow;
	padding: 1em;
	margin: 0.25em;
	border-radius: 0.5em;
}

.hidden {
	display: none;
}

.field label {
	display: block;
	width: 5em;
	margin-top: 0.5em;
}

.mt1 {
	margin-top: 1em;
}


.message {

	margin-top: 1em;
	padding: 1em;

	background-color: lightsalmon;


}

.top-section {
	display: flex;
}

.filter {
	flex : 1;
}

.cart {
	flex : 1;
	/* border: 1px solid; */
	z-index: 999;
	padding: 1em;
	border-radius: 0.25em;
	background-color: lightgreen;
}

.cart table {
	width: 100%;
}

th, td {
	padding: 0.25em;
	text-align: left;
}